body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "youtube-sans";
  src: url("./fonts/youtube-sans/youtube-sans-bold.ttf");
}

.custom-offcanvas.offcanvas {
  width: inherit;
  background-color: #282828;
}

.navbar {
  background-color: #282828;
  position: fixed;
}

.custom-button {
  background-color: #c23626;
  border: none;
  border-radius: 10px;
  width: 180px;
  font-family: "Jost";
  font-size: x-large;
}

.custom-button:hover {
  background-color: #ff0000;
}

.custom-button:active {
  background-color: #ff0000 !important;
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .navbar-toggler {
    display: none;
  }

  .offcanvas-backdrop {
    display: none;
  }
  .custom-offcanvas.offcanvas {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - 56px);
    top: 63px;
    transform: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.home {
  background-image: url(./images/home_background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 50px;
}

.how-it-works {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  font-family: "Jost";
  font-size: 22px;
  cursor: pointer;
  width: 160px;
  height: 50px;
}

.how-it-works:hover {
  background-color: #f68c8a;
}

.logo {
  font-family: "youtube-sans";
  font-size: x-large;
  color: white;
}

.launch-app {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 40px;
  border-color: black;
  font-family: "Jost";
  font-size: 22px;
  cursor: pointer;
  width: 160px;
  height: 50px;
}

.launch-app:hover {
  background-color: #c23626;
}

.main-text {
  margin-top: 100px;
  margin-left: 40px;
  font-size: 40px;
  font-family: "Oswald";
  color: white;
}

.logo-text {
  display: inline-block;
}

li {
  font-family: "Jost";
}
li:active {
  background-color: #c23626;
}

li:hover {
  border-left: solid;
}

/* .main-scroll {
  overflow-y: auto;
  margin-top: 62px;
  color: #ff0000;
} */

.main-scroll {
  overflow: auto;
  /* margin-top: 100px; */
}

.main {
  overflow: auto;
  background-color: #f68c8a;
  max-height: 30rem;
}

.create-collab-button {
  background-color: #c23626;
  border: none;
  border-radius: 10px;
  font-family: "Jost";
  font-size: x-large;
}

.create-collab-button:hover {
  background-color: #ff0000;
}

.create-collab-button:active {
  background-color: #ff0000 !important;
}

.navbar-brand {
  font-family: "youtube-sans";
  font-size: x-large;
  margin-left: 30px !important;
}
